@font-face {
   font-family: 'SanamDeklen_chaya';
   font-display: swap;
   src: url('file:///C:/Users/Oing/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-09-27_163527/fonts/SanamDeklen_chaya/font.ttf');
}
